# DSC 630 - Term Project
## Carlos Cano, Carlos Cantu, Alexander Hamedaninia

### Import Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [38]:
from sklearn import linear_model
import statsmodels.api as sm

### Data Import

In [2]:
df = pd.read_csv("Diabetes Dataset.csv")

In [3]:
df.head(3)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0

In [4]:
df.tail(3)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [5]:
diabetes_nan = df.isna().sum()

print(diabetes_nan)

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

### Data Exploration

In [6]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

### Data Exploration 2

In [7]:
df.info

<bound method DataFrame.info of        gender   age  hypertension  heart_disease smoking_history    bmi  \
0      Female  80.0             0              1           never  25.19
1      Female  54.0             0              0         No Info  27.32
2        Male  28.0             0              0           never  27.32
3      Female  36.0             0              0         current  23.45
4        Male  76.0             1              1         current  20.14
...       ...   ...           ...            ...             ...    ...
99995  Female  80.0             0              0         No Info  27.32
99996  Female   2.0             0              0         No Info  17.37
99997    Male  66.0             0              0          former  27.83
99998  Female  24.0             0              0           never  35.42
99999  Female  57.0             0              0         current  22.43

       HbA1c_level  blood_glucose_level  diabetes
0              6.6                  140         0
1              6.6                   80         0
2              5.7                  158         0
3              5.0                  155         0
4              4.8                  155         0
...            ...                  ...       ...
99995          6.2                   90         0
99996          6.5                  100         0
99997          5.7                  155         0
99998          4.0                  100         0
99999          6.6                   90         0

[100000 rows x 9 columns]>

### Data Exploration 3

In [8]:
df.dtypes

gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

### Data Exploration 4

In [9]:
print(df.shape)

(100000, 9)

In [10]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

### Data Processing 1

In [11]:
df2 = df

In [12]:
df2['gender'].replace({'Female':0,'Male':1}, inplace=True)

In [13]:
df2['gender'].value_counts()

0        58552
1        41430
Other       18
Name: gender, dtype: int64

In [14]:
df2 = df2.drop(df2[df2['gender'] == 'Other'].index)

In [15]:
df2['gender'].value_counts()

0    58552
1    41430
Name: gender, dtype: int64

In [16]:
df2['gender'] = df2['gender'].astype('int64')

In [17]:
df.dtypes

gender                  object
age                    float64
hypertension             int64
heart_disease            int64
smoking_history         object
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

### Data Processing 2

In [18]:
df2['smoking_history'].value_counts()

No Info        35810
never          35092
former          9352
current         9286
not current     6439
ever            4003
Name: smoking_history, dtype: int64

In [19]:
df2['smoking_history'].replace({'never':0,'current':1, 'No Info':2, 'former':3, 'ever':4, 'not current': 5}, inplace=True)

In [20]:
df2['smoking_history'].value_counts()

2    35810
0    35092
3     9352
1     9286
5     6439
4     4003
Name: smoking_history, dtype: int64

In [23]:
df2.dtypes

gender                   int64
age                    float64
hypertension             int64
heart_disease            int64
smoking_history          int64
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

In [22]:
df2['smoking_history'] = df2['smoking_history'].astype('int64')

In [ ]:
df2.dtypes

In [24]:
### Data Processing 3

In [25]:
df2['age'] = df2['age'].astype('int64')

In [26]:
df2.dtypes

gender                   int64
age                      int64
hypertension             int64
heart_disease            int64
smoking_history          int64
bmi                    float64
HbA1c_level            float64
blood_glucose_level      int64
diabetes                 int64
dtype: object

### Data Processing 3

In [27]:
df3 = df2.astype('float64')

In [28]:
df3.dtypes

gender                 float64
age                    float64
hypertension           float64
heart_disease          float64
smoking_history        float64
bmi                    float64
HbA1c_level            float64
blood_glucose_level    float64
diabetes               float64
dtype: object

In [29]:
df3.head(3)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0.0,80.0,0.0,1.0,0.0,25.19,6.6,140.0,0.0
1,0.0,54.0,0.0,0.0,2.0,27.32,6.6,80.0,0.0
2,1.0,28.0,0.0,0.0,0.0,27.32,5.7,158.0,0.0

### Data Exploration 1 - KNN

In [31]:
X = df3.drop('smoking_history', axis=1)
y = df3['smoking_history']

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
pipeline = Pipeline([('scaler', MinMaxScaler()),('classifier', KNeighborsClassifier())])

In [35]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('scaler', MinMaxScaler()),
                ('classifier', KNeighborsClassifier())])

In [36]:
accuracy = pipeline.score(X_test, y_test)

print("The accuracy of the KNN classifier from the test set is: {:.2f}".format(accuracy*100),"%")

The accuracy of the KNN classifier from the test set is: 42.26 %

### Data Exploration 2 - Linear Regression

In [40]:
LinearModel = linear_model.LinearRegression()

In [41]:
LinearModel.fit(X,y)

LinearRegression()

In [42]:
model = sm.OLS(y, X).fit()

In [43]:
prediction = model.predict(X)

In [44]:
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:        smoking_history   R-squared (uncentered):                   0.531
Model:                            OLS   Adj. R-squared (uncentered):              0.531
Method:                 Least Squares   F-statistic:                          1.417e+04
Date:                Tue, 23 Jan 2024   Prob (F-statistic):                        0.00
Time:                        21:24:56   Log-Likelihood:                     -1.8046e+05
No. Observations:               99982   AIC:                                  3.609e+05
Df Residuals:                   99974   BIC:                                  3.610e+05
Df Model:                           8
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
gender                  0.2381      0.009     25.267      0.000       0.220       0.257
age                     0.0045      0.000     19.345      0.000       0.004       0.005
hypertension           -0.1796      0.018     -9.716      0.000      -0.216      -0.143
heart_disease           0.2780      0.025     11.169      0.000       0.229       0.327
bmi                     0.0080      0.001     12.134      0.000       0.007       0.009
HbA1c_level             0.1385      0.003     40.595      0.000       0.132       0.145
blood_glucose_level     0.0023      0.000     20.155      0.000       0.002       0.002
diabetes               -0.3974      0.018    -22.023      0.000      -0.433      -0.362
==============================================================================
Omnibus:                     5648.623   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6526.585
Skew:                           0.616   Prob(JB):                         0.00
Kurtosis:                       2.781   Cond. No.                         822.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.